body {
    background-color: rgb(200, 215, 225);
}


h1 {
    text-align: left;
    background-color: rgb(255, 255, 255);
}

p {
    text-align: left;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.logo { 
	display: block;
	margin-left: auto;
	margin-right: auto;
	height: 10%
}

.pfp {
    display: block;
    margin-left: auto;
    margin-right: 75%;
    height: 25%;
    width: 25%;
}

.link {
	display: block;
	background-color: rgb(255, 255, 255);
}

.features {
	align-items: left;
	display: flex;
}

.dia {
    height: 25%;
}

