body {
    background-color: rgb(235, 235, 235);
}

h1 {
    float:left;
    text-align: start;
    font-size: larger;
    font-family: Arial;
    
}

h2 {
    text-align: end;
    font-size: small;
    font-style: italic;
    font-family: Arial;
}

.fl {
    float:left'
}

.fr {
    float:right;
}